# macro bitStr(bit)
{{"%s" % bit.value}}
#- endmacro


bool aarch64_decode::decode_a64(uint32_t ir)
{
  # for enc_set in sets
  if(
    #- for bit_position, bit_value in enc_set.shared_bits.items():
      #- if loop.index0 != 0
   &&
      #- endif
 if[{{bit_position}}] == {{bitStr(bit_value)}}
    # endfor
  ) {
  #  for enc in enc_set.encodings 
    // {{ enc.instruction.name }}
  #  endfor
  }
  # endfor
  return false;
}